body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
 
 }
 
 .container {
     display: flex;
 }
 
 
 
 
 #header {
     
     position: absolute;
     border-bottom: 0.5px solid #979997;
     background-color: transparent;
     opacity: 0.7;
     width: 100%;
 
 }
 
 #imagem_cama img {
  
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     width: 720px;
     height: 715px; 
     margin-left: -5px;
 }
 
 #login {
     height: 700px;
     width: 1000px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     flex-direction: column;
 
 }
 
 h1 {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: normal;
     color: #31BBD8;
 }
 
 h5 {
     
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: normal;
     color: #9797;
     text-align: center;
 
 }
  
 #cadastrar {
    
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    font-style: normal;
    color: #9797;
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px; 
}

#cadastro-button {
   
    width: 50px;
    height: 50px;
    border: none;
    background-color:transparent;
    font-weight: bold;
    color:#2694BF;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px; 
    position: relative;
    top: -55px;
    cursor: pointer;
}

#esqueceuSenha {
    text-align: center;
    width: 150px;
    height: 70px;
    border: none;
    background-color:transparent;
    font-weight: bold;
    color:#9797;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

}
 
 
 #login-button  {
     width: 219px;
     height: 50px;
     border: none;
     background-color: #2694BF;
     border-radius: 20px;
     text-align: center;
     font-weight: 800px;
     color: #fff;
     font-family: "Roboto", sans-serif;
     box-shadow: 4px 4px 0px #ECECEC;
     cursor: pointer;
 }
 
 
 
 input {
     height: 50px;
     width: 440px;
     border: none;
     background-color: #ECECEC;
     font-family:"Roboto", sans-serif;
     border-radius: 20px;
     outline: none;
 }
 
 .label-input {
     background-color: #ECECEC;
     display: flex;
     align-items: center;
     margin: 8px;
     border-radius: 20px;
 }
 
 #icone-modify  {
     padding: 0 5px;
     margin-left: 8px;
 }
 
 #div_login {
    font-family: "Roboto", sans-serif;
}

